// fonts
$font-family-sans: "Outfit";
$font-weight-normal: 400;
$font-weight-bold: 700;

// colors
$clr-white: hsl(0deg 0% 100%);
$clr-light-gray: hsl(212deg 45% 89%);
$clr-grayish-blue: hsl(220deg 15% 55%);
$clr-dark-blue: hsl(218deg 44% 22%);

