{
    "overrides": [
        {
            "files": ".prettierc",
            "options": {
                "parser": "json5",
                "semi": false,
                "singleQuote": false,
                "jsxSingleQuote": false,
                "quoteProps": "consistent"
            }
        },
        {
            "files": "*.js",
            "options": {
                "parser": "flow",
                "semi": true,
                "singleQuote": false,
                "jsxSingleQuote": false,
                "quoteProps": "consistent"
            }
        },
        {
            "files": "*.ejs",
            "options": {
                "parser": "html",
                "semi": true,
                "singleQuote": false,
                "jsxSingleQuote": false,
                "quoteProps": "consistent"
            }
        },
        {
            "files": "*.scss",
            "options": {
                "parser": "scss"
            }
        }
    ]
}
