.header {
    margin-block-start: 24px;

    &__title {
        margin: 0;
        padding: 0;
        line-height: 1.3;
        font-size: 22px;
        font-weight: var(--font-weight-bold);
        text-align: center;
    }
}
